body, html{
    width: 100%;
    height: 100%;
    overflow: visible;
    padding-left: 0;
}

#fileLoaded
{
    font-size: 13px;
}

#heatmap
{
    /*width: 99%;
    height: 100%;
    border: 1px solid lightgray;
    overflow: auto !important;*/

    overflow: visible !important;
    width: auto !important;
    height: auto !important;

}

.html2canvasreset{
    overflow: visible !important;
    width: auto !important;
    height: auto !important;
    /*max-height: auto !important;*/
}

#toolbar
{
    border: 1px solid #e5f2ff; /*lightgray;*/
    background-color: #e5f2ff;
    /*border-bottom: none;*/
    padding-right: 0;
    width: 99%;
}

#toolbar button
{
    font-size: 60%;
}

.saveImage
{
    padding: 1px;
}

.saveImage span
{
    padding: 5px 6px 5px 6px;
    margin: 0;
    font-size: 14px;
}

.saveImageDialog
{
    font-size: 15px;
}

.saveImageDialog div
{
    margin-top: 6px;
    padding: 3px 4px 3px 4px;
}

.saveImageDialog select {
    width: 285px;
    height: 80px;
}

.saveImageDialog span
{
    padding: 1px
}

.saveImageDialog input[type=text]
{
    width: 280px;
    height: 30px;
}

td.border
{
    padding: 5px;
}

.optionsDialog
{
    margin-top: 8px;
}

.optionsDialog input[type=color]
{
    width: 50px;
}

.optionsDialog table
{
   margin-top: 15px;
}

.optionsDialog table tr td
{
    padding: 3px;
}

.space
{
    margin: 20px 14px 8px 0;
}

.space label
{
    margin-right: 10px;
}

#discreteColorsDiv button
{
    font-size: 80%;
}

#discreteColorsList
{
    list-style-type: none;
    overflow: auto;
    max-height: 180px;
}

#discreteColorsList button
{
    font-size: 22%;
    margin-left: 10px;
}

#discreteColorsList li
{
    margin: 4px 3px 5px 3px;
    font-size: 1.4em;
    height: 30px;
    width: 95px;
    float: left;
}

.labelDialog div
{
    margin-top: 10px;
}

.labelDialog h4
{
    margin-bottom: 6px;
    background-color: lightgrey;
}

#addFsLabelsDiv, #removeFsLabelsDiv
{
    border: 1px solid lightgrey;
}

.labelDialog
{
    font-size: 15px;
}

#removeFsLabels table tr:nth-child(even)
{
    background-color: green;
}

#removeFsLabels td
{
    padding: 2px;
}

#findText
{
    margin-top: 24px;
    margin-left: 30px
    width: 85%;
}

.findDialog .findType
{
    margin-top: 14px;
    margin-left: 14px;
}

.findDialog div
{
    width: 300px;
    margin-left: 12px;
}

